* {
    background-color: blanchedalmond;

}

header{
    padding: 50px;
    color: rgb(111, 99, 99);
}

ul{
    list-style: none;
    margin: 15px;
    padding: 5px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcoZero01{
    max-width: 1000px;
}

img {
    border-radius: 5%;
    max-width: 250px;
}

article{
    text-align: justify;
  
}

footer{
    font-size: 15px;
    text-align: right;
}
